.cart-item{
    width: 500px;
    height: 350px;
    margin: 50px auto;
    background: rgb(244, 244, 244);
    padding: 30px;
    border-bottom: solid 1px grey;
    
}

.cart-img{
    width: 200px;
    height: 100px;
    margin:10px;
    float: left;
    
}

.cart-description{
    
    margin:  30px auto; 
    box-sizing: border-box;
   
}
.cart-btn{
    width: 100%;
    margin-top: 20px auto 5px auto;
    
    box-sizing: border-box;
}


img{width: 100%;}
h3{color:grey}