.cart-item{
    width: 90%;
    height: auto;
    margin: 30px auto;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    
}

.cart-img{
   width: 100%;
    
}

.cart-description{
    
    margin:  30px auto; 
    box-sizing: border-box;
   
}
.cart-btn{
    margin: 30px auto 5px auto;
}




